server:
  port: 9000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hms_auth_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

security:
  jwt:
    secret: "CHANGE_ME_SUPER_SECRET_KEY_32_BYTES_MINIMUM____"
    issuer: "hms"
    ttl-seconds: 7200

management:
  endpoints:
    web:
      exposure:
        include: health,info
