server:
  port: 9002

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hms_booking_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    security:
       jwt:
        # Must match api-gateway secret!
        secret: "CHANGE_ME_SUPER_SECRET_KEY_32_BYTES_MINIMUM____"
        issuer: "hms"
        ttl-seconds: 7200
  clients:
   gatewayBaseUrl: http://localhost:8081