server:
  port: 9001

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hms_room_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  web:
    resources:
      static-locations: classpath:/static/,file:./uploads/

management:
  endpoints:
    web:
      exposure:
        include: health,info

# Custom upload directory
upload:
  dir: ./uploads/room-images

